@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">Welcome to your local trash collection service.</p>
    <p>Click login to enter either your customer or employee account.</p>
    <p>If you haven't registered, click register and follow the necessary steps</p>
</div>
