@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bin There Dump That Inc.</h1>
    <p class="lead">Welcome to your local garbage collection portal!</p>
    <p>Login into or register for your account with the links listed above.</p>
</div>
<div class="row">
    <img width="100%" src="@Url.Content("https://www.rd.com/wp-content/uploads/2017/09/2-Things-Garbage-Collectors-Want-You-to-Know_146632817-Dmitry-Kalinovsky-1024x683.jpg")" alt="Trash Collector"/>
</div>